@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GT Maru;
  src: url(/fonts/GT-Maru-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GT Maru;
  src: url(/fonts/GT-Maru-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GT Maru;
  src: url(/fonts/GT-Maru-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GT Maru;
  src: url(/fonts/GT-Maru-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GT Maru;
  src: url(/fonts/GT-Maru-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: GT Maru, sans-serif;

  @apply bg-gray-50;
}
